# https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms
name: 🐛 Bug report
description: Something isn't working as expected
labels: [bug]
body:
  - type: textarea
    id: description
    attributes:
      label: Description
      description: >-
        Describe what you were trying to get done. Tell us what happened, what
        went wrong, and what you expected to happen.
    validations:
      required: true

  - type: textarea
    id: reproduce
    attributes:
      label: What I did
      description: >-
        Paste the command(s) you ran and the output. If there was a crash,
        please include the traceback here.
      render: shell
    validations:
      required: true

  - type: input
    id: version
    attributes:
      label: {{ project_name }} version
      placeholder: e.g. 0.1.0
    validations:
      required: true

  - type: input
    id: python
    attributes:
      label: Python version
      placeholder: e.g. 3.13.2

  - type: input
    id: os
    attributes:
      label: Operating System
      placeholder: e.g. macOS 15, Ubuntu 24.04, Windows 11
