# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    # wait a week before proposing a newly released version
    cooldown:
      default-days: 7
    groups:
      github-actions:
        patterns: ["*"]
    commit-message:
      prefix: "ci(dependabot):"
{%- if use_pre_commit %}

  - package-ecosystem: "pre-commit"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      pre-commit:
        patterns: ["*"]
    commit-message:
      prefix: "ci(dependabot):"
{%- endif %}
